div{
    display: flex;
    justify-content: center;
    align-items: center;
}
#btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#red{
    width: 70px;
    height: 40px;
    background-color: red;
    border: none;
    border-radius: 10px;
    color: white;
}
#green{
    width: 70px;
    height: 40px;
    background-color:green;
    margin: 30px;
    border: none;
    border-radius: 10px;
    color: white;
}
#blue{
    width: 70px;
    height: 40px;
    background-color:blue;
    border: none;
    border-radius: 10px;
    color: white;
}
.red-div{
    width: 100px;
    height: 60px;
    background-color: red;

}
.green-div{
    width: 100px;
    height: 60px;
    background-color:green;
    
}
.blue-div{
    width: 100px;
    height: 60px;
    background-color:blue;
    
}